/*  Regras Gerais Início 
------------------------ */
* {
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    overflow-x: hidden;
  }
  /* Regras Gerais Fim 
  -------------------- */

  /* Layout Início 
--------------------- */
main {
 width: 100%;
 margin-top: 50px;
}

/* início header 
----------------------*/
.navbar-brand {
  font-family: 'Chivo', sans-serif;
}

.navbar-collapse {
  margin: 0 0 0 30px;
}

.navbar-brand span {
  color: #2E8B57;
  padding: 0 0 0 5px;
}


/* inicio section destaque
----------------------------*/

main .texto {
  margin: 150px auto 0 auto;
}

main .imagem-principal {
  margin: 150px auto 0 auto;
}

/*inicio section cadastrar
----------------------------*/
#cadastrar {
  margin: 125px auto 100px auto;  
}

#cadastrar .cadastrar-container {
  margin: 125px 0 0 0;
}

 #cadastrar .imagem2 {
   margin: auto;
 }

 .form-group {
   flex-wrap: wrap;
   margin: 0 auto;
 }

 label, #btnSubmitLabel {
   margin: 10px auto;
 }
 /*inicio section anuncios
----------------------------*/
.cardAnuncioCont {
  padding: 0;
}

div.card {
  margin: 5px;
  padding: 0;
}

/* -- Layout Fim -- */

/* -- footer Início -- */
 
footer {
  color: #007bff;;
  cursor: pointer;
  background-color: #f8f9fa;
  margin-top: 20px;
  padding: 36px 20px 20px 20px;
}

.list-unstyled li {
  text-align: center;
}

#logoFooter {
  margin: 0 calc(50% - 16px);
}

#copyright {
  margin: 10px auto;
}

/* media queries
-----------------*/


