
/*  Regras Gerais Início 
------------------------ */

* {
  margin: 0;
  padding: 0;
  font-family: 'Hind Madurai', sans-serif;
}

input:focus {
  outline: -webkit-focus-ring-color auto 0px;
  border-color: rgba(136, 134, 134, 0.7);
  
 }

html, body {
  overflow-x: hidden;
  background-color: #fff;
  height: 100%;
}

main {
  width: 100%;
}

a:visited {
  text-decoration: none;
}

a.btn.btn-success {
  color: #fff;
}

.btn{
  border-radius: 20px;
  width: 100px;
}

.navbar {
  background-color: #fff;
}


/* início header pag index 
-------------------------*/


.navbar-brand span {
  padding: 0 0 0 5px;
}



/*inicio index
-----------------------------------*/
#destaque {
  height: 100vh;
}

#destaque1 {
  height: 100vh;
  box-sizing: border-box;
}

.caixa-destaque1{
    display: flex;
    height: 100vh;
    box-sizing: border-box;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(../img/ecologia-destaque.jpg);
}

.caixa-destaque2{
  display: flex;
  height: 100vh;
  box-sizing: border-box;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url(../img/alimentacao-destaque.jpg);
}

.caixa-destaque2{
  display: flex;
  height: 100vh;
  box-sizing: border-box;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url(../img/animais-destaque.jpg);
}

 /*inicio section eventos pg index
----------------------------------*/

.div-card-anuncios{
  height: 60vh;  
}


/* inicio section pagina contact-us 
---------------------------------*/

#contact-us {
  height: 100%;
}

#contact-us .contact {
  margin: 0 auto;
}

#faqAccordion{
  margin: 0 auto;
}

#contact-us #textArea {
  resize: none;
}


/* início pagina about-us 
-----------------------*/

#about-us article p {
  margin-top: 20px;
}

#about-us article img {
  width: 50%;
}


/* início pagina event 
---------------------*/

#event {
  margin-top: 9%;
}

#event .event-body {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 10px;
}


#event .event-info .wrap h5 {
  font-size: 1em;
}

#event .side-bar {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 10px;
}

#event .media-body {
  margin-left: 5px;
}

#event .media-body p {
  font-size: 0.9em;
}

#event .media-body a {
  font-size: 0.9em;
}

#event .side-bar .list-unstyled li{
  text-align: left;
}

/* section pesquisar pagina home
------------------------------*/

.home-pesquisar {
  background-color: #fff;
  position: relative;
  width: 500px;
   
}

.input-pesquisar{
  border-radius: 20px;
  text-align: center;
}

.icon-pesquisar {
  position: absolute;
  background: #fff;
  right: 20px;
  top: 8px;
  width: 20px;
  height: 20px;
  background: transparent;
  border: none; 
}

/*pagina profile
---------------*/
.img-perfil{
  width: 70%;
}

/* --footer início 
------------------ */
 
footer {
  cursor: pointer;
  background-color: #f8f9fa;
  margin-top: 50px;
  padding: 36px 20px 20px 20px;
  height: 25%;
}

.list-unstyled li {
  text-align: center;
}
.list-unstyled ul{
  text-align: center;
}


#logoFooter {
  margin: 0 calc(50% - 16px);
}

.img_footer{
  width: 30px;
}

.img_footer_mail{
  width: 34px;
}

.fa-2x {
    font-size: 1em;
}

#copyright {
  margin: 10px auto;
}
/* fim footer
------------------*/


/* media queries
-----------------*/

@media (max-width: 767.98px) { 

  /* pagina-home*/
  #main-home .div-input-home .home-pesquisar{
    margin-top: 100px;
  }

  .pesquisar-home{
    padding-bottom: 0;
    margin-top:100px;
  }

 
 /* pagina eventos/search*/
  .meus-eventos{
    margin-top:50px;
  }
  .nichos{
    margin: 0;
    padding: 0;
  }

  /* pagina profile*/

  .img-perfil{
    width: 50%;
  }

   /* footer*/
   footer{
    height: 30vh;
  }
 }